@font-face {
    font-family: "mainFont";
    src: url("fonts/HelveticaNeueRoman.otf") format("opentype");
   
}

body {
    background-color: #fdf6e8;
    font-family: "mainFont", "Helvetica", "Arial", sans-serif;
}

.hero-section {
    background-image: url(images/hero-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100vw;
    height: 90vh;
    top: 0;
    left: 0;
    border-bottom: 1px solid;
    z-index: -1;
}

.hero-content {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    bottom: -6rem;
    height: 100vh;
    color: black;
    font-size: 5rem;
    letter-spacing: 15px;
}


.experience-btn {
    padding: 10px;
    font-size: 1rem;
    margin-top: 3rem;
    background: none;
    cursor: pointer;
}

.experience-btn:hover {
    background: black;
    color: #fdf6e8;
}

.home-header {
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100vw;
    height: 35px;
    bottom: 10px;
    right: 8px;
}

.header-address {
    position: fixed;
    top: 7px; 
    text-decoration: none;
    color: #fdf6e8;
}

.reservation-btn {
    position: absolute;
    right: 8rem;
    top: 3rem;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

.reservation-btn:hover {
    background: black;
    color: #fdf6e8;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 3rem;
    top: 3.4rem; 
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin-bottom: 6px;
}
