.experience-hero-section {
    position: relative;
    width: 100vw;
    height: 100vh;
    right: 9px;
    z-index: 1;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slides {
    position: absolute;
    top: 0;
    right: 9px;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

.experience-hero-content {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    top: 8.2rem;
    height: 100vh;
    color: black;
    font-size: 3.5rem;
    letter-spacing: 12px;
    z-index: 9;
}

.booknow-btn {
    padding: 10px;
    font-size: 1rem;
    margin-top: 2rem;
    letter-spacing: 1px;
    background: #111;
    color: #fff9ef;
    cursor: pointer;
    margin-right: 45px;
    border: 1px solid black;
    -webkit-transition: ease-out 1s;
    -moz-transition: ease-out 1s;
    transition: ease-out 1s;
}

.booknow-btn:hover {
    box-shadow: inset 400px 0 0 0 #fff9ef;
    color: #111;
}
.description {
    position: absolute;
    top: 112vh;
    text-align: left;
    left: 20rem;
    max-width: 900px;
    letter-spacing: 1px;
    z-index: 5;
}

.bar-description {
    position: absolute;
    top: 306vh;
    left: 50rem;
    height: 100vh;
    max-width: 30%;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 2rem;
    z-index: 3;
    letter-spacing: 1px;
}

.bar-image {
    background-image: url(/images/bar.png);
    position: absolute;
    top: 310vh;
    left: 15rem;
    z-index: -2;
    width: 35%;
    height: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

.bar-heading {
    top: 2rem;
}

footer {
    top: 385vh;
}
